.page-root {
  width: 100%;
  padding: 12px;
  text-align: center;
  .todos-box {
    margin: 24px;
  }
  .pic {
    width: 400px;
    height: 400px;
    background: url("../download.jpg") no-repeat;
  }
  .pic-bg {
    background-size: 100%;
  }
}
